@page
@model WebTodoList.Pages.IndexModel

@{ ViewData["Title"] = "Index"; }

@if (User.Identity.IsAuthenticated)
{
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].DoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItem[0].Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TodoItem)
        {
            <tr>
        @if ((await AuthorizationService.AuthorizeAsync(
             User, item,
             TodoOperations.Update)).Succeeded)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoneDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Done)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ItemId">Edit</a> |
            <a class="btn btn-primary btn-sm" asp-page="./Complete" onclick="@item.ItemId"><i class="fas fa-user"></i>Complete</a> |
            <form method="post">
                <button type="submit" asp-route-data="@item.ItemId">Try</button>
            </form>
            |
                <a asp-page="./Delete" asp-route-id="@item.ItemId">Delete</a>
        </td>
        }
                </tr>
                }
    </tbody>
    </table>
    }else{
    <div class="text-center">
        <h1 class="display-4">Welcome to the ToDo List Applicaton</h1>
        <p>Easily track your pending tasks with this application built using ASP .NET Core.</p>
    </div>
    }